<!-- <h1 class="mt-4">Home</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<a href="/userDetails">User Details</a>
<a href="/userDetails/edit">Edit User Details</a>

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->

<!-- //////////////////////////////////////////////// -->

<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-4">Home</h1>
    <div>
      <!-- <a href="/userDetails" class="btn btn-link mr-2">User Details</a> -->
      <a
        href="/userDetails"
        class="btn btn-primary mr-2"
        style="background-color: #180075"
        >User Details</a
      >
      <a
        href="/users/logout"
        class="btn btn-secondary"
        style="background-color: #6c46fa"
        >Logout</a
      >
    </div>
  </div>

  <p class="lead mb-3">Welcome <%= name %></p>

  <!-- <a href="/exercise" class="btn btn-primary" style="background-color: #180075"
    >Exercise</a
  >
  <a
    href="/meditation"
    class="btn btn-secondary"
    style="background-color: #6c46fa"
    >meditation</a
  >
  <a
    href="/dailyReflections"
    class="btn btn-secondary"
    style="background-color: #6c46fa"
    >Daily Reflections</a
  >
  <a
    href="/progress"
    class="btn btn-secondary"
    style="background-color: #6c46fa"
    >Progress</a
  > -->

  <!-- ----------------------------------------------------------------------- -->

  <div id="carouselFade" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselFade"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>

      <button
        type="button"
        data-bs-target="#carouselFade"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>

      <button
        type="button"
        data-bs-target="#carouselFade"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>

      <button
        type="button"
        data-bs-target="#carouselFade"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>

      <button
        type="button"
        data-bs-target="#carouselFade"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/exercise">
          <img
            src="/resources/activity1.png"
            class="d-block w-100"
            alt="man exercising at home"
            style="border-radius: 40"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Recommended Activities</h4>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/meditation">
          <img
            src="/resources/meditation1.png"
            class="d-block w-100"
            alt="woman meditating"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Guided Breathing</h4>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/dailyReflections">
          <img
            src="/resources/nutrition.png"
            class="d-block w-100"
            alt="bowl of fruit"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Nutrition Log</h4>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/dailyReflections">
          <img
            src="/resources/journal.png"
            class="d-block w-100"
            style="width: 60%"
            alt="journaling"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Journaling</h4>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/progress">
          <img
            src="/resources/progress.png"
            class="d-block w-100"
            alt="progress"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>Progress</h4>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- -------------------------------------------------------------------------------
--------------------------------------------------------------------------------- -->
</div>
