<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css"
    /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <style>
      .btn {
        color: white;
        background-color: #180075;
      }
      .btn:hover {
        color: white;
        background-color: #4f1fff;
      }
      .mr-2 {
        color: white;
        background-color: #6c46fa;
        margin-top: 5px;
      }
      .mr-2:hover {
        color: white;
        background-color: #4f1fff;
      }
      .wrng:hover {
        color: white;
        background-color: #9a105e;
      }
      .nav-bar-toggler {
        margin: 10px;
        color: #6c46fa;
        stroke: #6c46fa;
      }
      .nav-bar-toggler-icon {
        color: #6c46fa;
        stroke: #6c46fa;
      }
      .proceed:hover {
        color: white;
        background-color: rgb(1, 119, 125);
      }
    </style>

    <title>ZenTrek Holistic Wellness App</title>
  </head>

  <body style="background-color: #bad3fe">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" href="/home">
        <img
          style="margin-right: 10px"
          width="150px"
          src="/resources/logo1.png"
          alt="ZenTrek App logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="margin-left: 20px">
          <!-- BUTTON STYLE LINKS   -->
          <li class="nav-item">
            <a href="/home" class="btn btn-primary mr-2">Home</a>
            <a href="/exercise" class="btn btn-primary mr-2">Exercise</a>
            <a href="/meditation" class="btn btn-primary mr-2">Meditation</a>
            <a href="/dailyReflections" class="btn btn-primary mr-2"
              >Journaling</a
            >
            <a href="/nutrition" class="btn btn-primary mr-2">Nutrition</a>
            <a href="/progress" class="btn btn-primary mr-2">Progress</a>
            <a href="/userDetails" class="btn btn-primary mr-2">My Details</a>
            <a
              href="/users/logout"
              class="btn btn-secondary mr-2 wrng"
              style="margin-left: 1rem"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" style="color: #180075"><%- body %></div>

    <!-- Footer Section -->
    <!-- <footer
      class="footer-expand bg-light fixed-bottom"
      style="
        margin-top: 30px;
        background-color: #ded1f9;
        border-color: #6c46fa;
        color: #6c46fa;
        padding: 5px;
      "
    >
      <div class="socialMedia">
        <p class="websiteRights" style="margin: 20px">
          © ZenTrek - Holistic Wellness App 2024. All rights reserved
        </p>
      </div>
    </footer> -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
