<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <!-- Add your stylesheets or other head elements here -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container mt-3">

        <!-- Calendar with reported moods and activities -->
        <div class="row mt-5">
            <div class="col-md-6 m-auto">
                <div class="card card-body">
                    <h2 class="text-center mb-3">Monthly Calendar</h2>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        
        <div class="row align-items-stretch second-row-custom-height"> 
            <div class="col-md-5 mb-3">
                <div class="p-3 fs-5 border bg-light h-100 d-flex align-items-center justify-content-center">Custom-set streak for each activity</div>
            </div>
    
            <div class="col-md-7 mb-3" style="padding: 0;">
                <div class="p-3 fs-5 border h-100 d-flex align-items-center justify-content-center canvas-container">
                    <canvas id="myChart" style="background-color:white;"></canvas>
                </div>
            </div>
        </div>
    
        <div class="row align-items-stretch third-row-custom-height justify-content-center"> 
            <div class="col-md-8 mb-3">
                <div class="p-3 fs-5 border bg-light h-100 d-flex align-items-center justify-content-center">Calendar</div>
            </div>
    
            <div class="col-md-4 mb-3">
                <div class="p-3 fs-5 border bg-light h-100 d-flex align-items-center justify-content-center" id="streak-badges-container">
                    <canvas id="streak-badges">

                    </canvas>
                </div>
            </div>
        </div>
       


    </div>

    <!-- Add your scripts or other body elements here -->
    <script src="/public/script.js"></script>
</body>
</html>
