<!-- Bootstrap Navbar and other sections... -->

<!-- Welcome Section -->
<section id="welcome" class="container-fluid text-center">
    <div class="row align-items-center">
      <div class="col-md-12 m-auto text-center">
        <h1 class="display-5 fw-bold" style="color: #180075; margin-top: 20px">
          Welcome to ZenTrek
        </h1>
        <p class="lead" style="color: #180075">
          Your Holistic Wellness Companion
        </p>
  
        <!-- Content Section with Bootstrap Card -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <!-- Content and image row -->
              <div class="row g-4 align-items-center">
                <!-- Text Content -->
                <div class="col-md-12" style="margin-top: 30px">
                  <img
                    src="/resources/lotus.svg"
                    class="img-fluid rounded-3"
                    style="width: 100px; margin-bottom: 50px"
                    alt="lotus icon"
                  />
                  <h2>Find Your Balance, Shine Your Light!</h2>
                  <p class="lead">
                    More than fitness. More than mindfulness. Discover holistic
                    wellness, reimagined.
                  </p>
                  <p>
                    ZenTrek guides you on a personalized journey to nourish your
                    mind, body, and spirit. Achieve your goals, celebrate your
                    progress, and embrace a life filled with harmony and radiance.
                  </p>
                </div>
                <!-- Image Content -->
                <div class="col-md-12">
                  <img
                    src="/resources/meditation_img.png"
                    class="img-fluid rounded-3"
                    style="width: 60%;"
                    alt="image of female meditating"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- End Content Section -->
  
  <!-- New Section: Discover True Wellness -->
  <section
    id="discover-wellness"
    class="container-fluid"
    style="margin-top: 30px"
  >
    <div class="row">
      <div class="col-md-12 m-auto text-center" style="align-content: center;">
        <img
          src="/resources/lotus.svg"
          class="img-fluid rounded-3"
          style="width: 100px; margin-bottom: 50px"
          alt="lotus icon"
        />
        <h2 style="color: #180075">
          Break Free From Routine. Discover True Wellness
        </h2>
        <p class="lead">
          Say goodbye to one-dimensional approaches. Nurture both your mind and body.
      </p>
        <p>
          Wellness should be enjoyable, not a chore. That's why we've crafted an
          app that not only prioritizes your health but also aims to engage and
          delight you along the way.         From interactive features to personalized
          insights, every moment with ZenTrek is designed to bring you joy.
  
          <ul class="list-unstyled">
              <li>
                Discover personalized activities and routines that nourish your mind, body, and spirit.
              </li>
              <br />
              <li>
               Track your progress and gain insights to set achievable goals and celebrate your wins.
              </li>
              <br>
              <li>
                Make informed choices about
                your nutrition and hydration with data-driven guidance.
              </li>
              <br />
              <li>
                Practice guided meditations
                and access mindfulness tools to manage stress and cultivate inner
                peace.
              </li>
            </ul>
        </p>
        <!-- Image Content -->
        <div class="col-md-12">
          <img
            src="/resources/user_smiling.jpg"
            class="img-fluid rounded-3"
            style="width: 60%;"
            alt="image of user smiling"
          />
        </div>
      </div>
    </div>
  </section>
  
  <!-- New Section: About Us -->
  <section id="about-us"   class="container-fluid"
  style="margin-top: 30px">
    <div class="row">
      <div class="col-md-12 m-auto text-center" style="align-content: center;">
          <img
          src="/resources/lotus.svg"
          class="img-fluid rounded-3"
          style="width: 100px; margin-bottom: 50px"
          alt="lotus icon"
        />
        <h2 style="color: #180075">About Us</h2>
        <h4 style="margin-top: 30px;"> Our Philosophy</h4>
        <p>
          The name ZenTrek consists of the words "Zen" and "Trek", which
              captures our philosophy on wellness as a life-long journey. We
              believe true wellness is more than just counting steps or checking
              off tasks. It's about finding harmony in all aspects of your life,
              nurturing your mind, body, and spirit. That's why we created
              ZenTrek, your personalized guide to a healthier, happier you.
        </p>
        <h4 style="margin-top: 30px;"> Our Story</h4>
        <p> 
          Founded by a team of passionate health enthusiasts and technology
          experts, ZenTrek was born from a simple desire: to make holistic
          wellness accessible and empowering for everyone. We understand the
          challenges of juggling busy schedules, navigating conflicting
          information, and staying motivated on your path to well-being.
          That's why we built an app that meets you where you are, celebrates
          your individuality, and guides you toward your unique goals.
        </p>
        <h4 style="margin-top: 30px;"> Our Mission</h4>
        <p> 
          At ZenTrek, we're committed to creating a world where everyone has
          the resources and support to discover their own path to well-being.
          We believe that when we nurture our physical, mental, and emotional
          health, we not only enrich our own lives but also contribute to a
          more positive and thriving world.
        </p>
        <br>
        <p class="lead">
          Join us on this journey - Sign up for ZenTrek today and experience
          the power of holistic wellness!
        </p>
      </div>
    </div>
  </section>
  
  <!-- New Section: Discover Features that Empower You -->
  <section id="discover-features" class="container-fluid"
  style="margin-top: 30px ; margin-bottom: 40px;">
    <div class="row">
      <div class="col-md-12 m-auto text-center" style="align-content: center;">
          <img
          src="/resources/lotus.svg"
          class="img-fluid rounded-3"
          style="width: 100px; margin-bottom: 50px"
          alt="lotus icon"
        />
        <h2 style="color: #180075">Discover Features that Empower You</h2>
        <p class="lead">
          ZenTrek goes beyond the limitations of traditional fitness or
          mindfulness apps. We offer a comprehensive platform to support your
          holistic wellness.
      </p>
      <p>
          <ul class="list-unstyled" style="margin-bottom: 40px;">
              <li>
                <strong>Tailored Recommendations:</strong> No crash diets or intense
                workout regimens here; ZenTrek is all about sustainable progress.
                Receive activity suggestions that match your interests, fitness
                level, and available time.
              </li>
              <br />
              <li>
                <strong>Mindfulness Practices:</strong> True well-being is a
                combination of mental clarity, emotional balance, and physical
                vitality. Our guided meditations, breathing exercises, and
                stress-reduction techniques will help you cultivate habits that
                lead to a lifetime of well-being.
              </li>
              <br />
              <li>
                <strong>Holistic Wellness Tracking:</strong>
                With ZenTrek, you're not just
                tracking, you're thriving. Monitor your physical activity,
                nutrition, mood, and overall well-being in one place. See your
                progress and celebrate your achievements.
              </li>
            </ul>
      </p>
      </div>
    </div>
  </section>
  
  <!-- New Section: Login -->
  <!-- <section id="login" class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="card card-body text-center">
                    <h1><i class="fab fa-node-js fa-3x"></i></h1>
                    <p>Create an account or login</p>
                    <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
                    <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
                </div>
            </div>
        </div>
    </section> -->
  