
.top, .bottom {
    height: 100%;
}

.top{
    position: relative;
    top: 0;
    height: 70%; 
    width: 100%; 
    min-height:3rem; 
    
}

.bottom{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom p {
    text-align: center;
    margin: 0;
}


.totals {
    max-height:20rem;
    min-height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: start;
    margin: 20px 0 0 0;
}


#nutritionContainer, #reflectionsContainer {
    max-width: 90%;
    /* max-height: 95%; */
    display: flex;
    justify-content:space-around;
} 

.badgeBox {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    /* max-height: 80%; */
    margin: 0;
    background-color: rgb(123, 150, 250, 0.3);
}

.badgeBox h5{
    margin: 0; 
    margin-top: 2%;
    font-size: large;
}

#nutritionContainer img, #reflectionsContainer img {
    max-width: 80%;
    width: 18%;
    min-height: 130%;
    object-fit: cover;
    padding: 5px;
    margin: 0;
    flex: 1;
}

.new-badge {
     filter: brightness(80%) saturate(50%) invert(13%) sepia(72%) saturate(995%) hue-rotate(224deg) brightness(95%) contrast(200%);
}